blockquote {
    margin: auto;
    width: 70%;
    padding: 10px;
    padding-top: 100px;
}

blockquote p {
    font-family: Courier, monospace;
    padding: 15px;
    border-radius: 5px 1em;
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 30px;
}

#type-text::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    blockquote {
        width: 100%;
    }
}

/*Change Navbar font size   */
.navbar a {
    font-size: x-large;
    color: black;
}
