/*Apply font to all elements */
body{
    font-family: Courier, monospace;
    padding-top: 100px;
}

.navbar a {
    font-family: Courier, monospace;
    font-size: x-large;
    color: black;
    font-weight: bold;
}
.navbar-toggler-icon{
    color: black;
}

#profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* start style for text-type */
blockquote {
    margin: auto;
    width: 70%;
    padding: 10px;

}

blockquote p {
    padding: 15px;
    border-radius: 5px 1em;
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
    font-size:larger;
}

#type-text::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}
/* end text-type styles */

/* start style for progress bars
/*change height of progress bar */
.progress {
    height: 10px;
}

/*change background color of progress bar*/
.progress-bar{
    background-color: grey;
}
/*end styles for progress bars */

/* For mobile phones: */
@media only screen and (max-width: 768px) {

    body{
        font-family: Courier, monospace;
        padding-top: 50px;
    }
    /* For mobile phones: */
    /* adjust text type block size*/
    blockquote {
        width: 100%;
    }

    /*adjust skills bar padding between "skills heading" for vertical view*/
    .progress-wrapper{
        padding-top: 15px;
    }
}

/* mail button */
.mail-button{
    padding-left: 50px;
    padding-top: 50px;
}
/* email style */
#email{
    padding-left: 50px;
}


/* start "cards" style */
.card-box {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    margin-bottom: 30px;
    float: left;
    border-radius: 10px;
}
.card-box .card-thumbnail {
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
}
.card-box .card-thumbnail:hover {
    transform: scale(1.2);
}

.card-box h3 a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
/* end "cards" style */


/* back-to-top style */
.backTop-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    color: #795548;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 18px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 3px solid black;
    box-shadow: 0px 0px 8px 2px #5a5a5a;
    display: none;
}

