/*Apply font to all elements */
body{
    font-family: Courier, monospace;
}

#profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


blockquote {
    margin: auto;
    width: 70%;
    padding: 10px;

}

blockquote p {
    padding: 15px;
    border-radius: 5px 1em;
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
    font-size:larger;
}

#type-text::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}


/*Change Navbar font size   */
.navbar a {
    font-size: x-large;
    color: black;
}

/*change height of progress bar */
.progress {
    height: 10px;
}

/*change background color of progress bar
 */
.progress-bar{
    background-color: grey;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* adjust text type block size*/
    blockquote {
        width: 100%;
    }

    /*adjust skills bar padding between "skills heading" for vertical view*/
    .progress-wrapper{
        padding-top: 15px;
    }
}

/* mail button */
.mail-button{
    text-align: center;
    color: grey;
    padding-top: 30px;
}