blockquote {
    margin: auto;
    width: 60%;
    padding: 10px;
    padding-top: 150px;
}

blockquote p {
    font-family: Courier, monospace;
    padding: 15px;
    border-radius: 5px 1em;
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 30px;
}

#type-text::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

@media screen and (max-width: 767px) {
    blockquote {
        margin: auto;
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

/*Change Navbar font size   */
.navbar a {
    font-size: x-large;
    color: black;
}
