/*Apply font to all elements */
body{
    font-family: Courier, monospace;

}

/*Change links appearance in the menu */
.offcanvas-body a:link, .offcanvas-body a:visited {
    font-family: Courier, monospace;
    font-size: xx-large;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Courier, monospace;
    font-weight: bold;
}

/* menu effect */
a:hover, a:active {
    background-color: lightgrey;
}


#profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* start style for text-type */
blockquote {
    margin: auto;
    width: 70%;
    padding: 10px;

}

blockquote p {
    padding: 15px;
    border-radius: 5px 1em;
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
    font-size:larger;
}

#type-text::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

/* end text-type styles */

/* start style for progress bars
/*change height of progress bar */
.progress {
    height: 10px;
}

/*change background color of progress bar*/
.progress-bar{
    background-color: grey;
}
/*end styles for progress bars */

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* adjust text type block size*/
    blockquote {
        width: 100%;
    }

    /*adjust skills bar padding between "skills heading" for vertical view*/
    .progress-wrapper{
        padding-top: 15px;
    }
}

/* mail button */
.mail-button{
    text-align: center;
    color: grey;
    padding-top: 30px;
}

/* change size of the "list" icon   */
.bi-list{
    font-size: xxx-large;

}

